<div class="text-center p-6">
    <h2 class="lg:text-xl text-md font-semibold">Designed & Built by Rayonnant Nyonsa</h2>
    <h2 class="lg:text-xl text-md font-semibold">Copyright © 2025 Rayonnant Nyonsa</h2>
  </div>