<!DOCTYPE html>
<html lang="en">
<head>
    @include('partials/Head')
</head>
<body class="text-white scroll-smooth">
    <header class="fixed top-0 left-0 w-full z-10 bg-dark-slate flex items-center justify-between lg:px-32 px-2 py-2" id="header">
        @include('partials/header')
      </header>
</body>
</html>